@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
}

.race-line:last-of-type > .slider {
  border-bottom: 3px dashed #000;
}
